{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'movies/css/detail.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <img src="{{ movie.poster_url }} " alt="">

    {% comment %} Color {% endcomment %}
    {% for i in color  %}
    <img src="{{ i.color_url }}" alt="">
    {% endfor %}

    {% comment %} Movie {% endcomment %}
    <h1> {{ movie.title }} </h1>
    <h3> {{ movie.overview }} </h3>
    <h3> {{ movie.release_date }} </h3>
    <h3> {{ movie.naver_grade }} </h3>
  </div>

  {% comment %} Movie Comment {% endcomment %}
  {% comment %} Comment Create {% endcomment %}
  <h1> 한줄평 </h1>
  <div>
  <form action="{% url 'movies:movie_comment' movie.pk %}" method="POST" name="myform" id="myform" >
    {% csrf_token %}
    <fieldset>
      <legend>이모지 별점</legend>
      <input type="radio" name="grade" value="5" id="rate1"><label for="rate1">⭐</label>
      <input type="radio" name="grade" value="4" id="rate2"><label for="rate2">⭐</label>
      <input type="radio" name="grade" value="3" id="rate3"><label for="rate3">⭐</label>
      <input type="radio" name="grade" value="2" id="rate4"><label for="rate4">⭐</label>
      <input type="radio" name="grade" value="1" id="rate5"><label for="rate5">⭐</label>
    </fieldset>
    <input type="text" name="content">
    <button> 등록</button>
  </form>
  {% comment %} Comment View {% endcomment %}
  {% for comment in movie.comments.all %}
    {{ comment.grade }}
    {{ comment.content }}
    {{ comment.user}}
    <hr>
  {% endfor %}
  </div>
  {% comment %} Review {% endcomment %}
  {% comment %} Review Create {% endcomment %}
  <div>
  <h1> <a href="{% url 'movies:review_create' movie.pk %}">리뷰쓰기</a></h1>
  {% comment %} Review List {% endcomment %}
  {% for review in movie.reviews.all %}
    <div OnClick="location.href ='{% url 'movies:review' review.pk %}'" style="cursor:pointer;">
    {{ review.title }}
    {{ review.user }}
    </div>
    <hr>
  {% endfor %}
  </div>
</body>
</html>