{% extends 'base.html' %}
{% load static %}

{% block back_URL %} "{% url 'movies:detail' review.movie.pk %}" {% endblock back_URL %}

{% block content %}
<div class="main-container">
  <div class="main-header">
  </div>
  <div class="content-wrapper">
    <div class="content-section mt-3">
      <div class="app-card mt-3 d-flex">
        <h3> {{ review.title }} </h3>
        <h5 style="text-align: right;"> {{ review.user }} </h5>
      </div>
    </div>

    <div class="content-section">
      <div class="app-card mt-3">
        <h5> {{ review.content }} </h5>
      </div>
    </div>

    <div class="content-section mt-5">
      <h3> 댓글 </h3>
      <div class="content-section">
        <div class="app-card mt-3">
          {% for comment in review.comments.all %}
          <div class="d-flex justify-content-between">
            <p> {{ comment.content }} </p>
            <p> {{ comment.user }} </p>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="app-card mt-3">
        {% comment %} Comment Input {% endcomment %}
        <form action="{% url 'movies:review_comment' review.pk %}" method="POST">
          {% csrf_token %}
          <input type="text" name="content"
            style="background: none; margin-left: 20px; width: 1100px; color:white; border:none; font-size: 25px;">
          <button class="btn btn-warning" style="font-weight: 500px; font-size: 20px; margin-left: 5px; width:100px;">
            등록</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}